// food html
$primary-font :'Dancing Script', cursive;
$secondary-font :'Montserrat', sans-serif;
$primary :#ffc257;
$secondary :#333333;
$white :#ffffff;
$black :#000000;
$red :#f33737;
$gray1 :#dddddd;
$gray :gray;
$gray2 :#9d9d9d;
$menus-bg:#232323;
